@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap');


body{
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
margin-top: 1%;
width: 100vw;
height: 66px;
}

header h1{
color: #5318BD;
text-align: center;
}

header img {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 40%;
    margin-top: -60px;
    z-index: 2;
    cursor: pointer;
}
    

header button{
position: absolute; top: 25px;
color: #eceaea;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
border-radius: 1px;
box-shadow: 1px, 1px, 1px, #fff;
border-color: transparent;
background-color:#5e1dad;
padding: 1px 25px 2px;
right: 5%;
cursor: pointer;
z-index: 1;
height: 40px;
}

header button p{
    color: #ffffff;
    margin-top: 10px;
}

/*menu*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

ion-icon{
    height: 50px; 
    width: 45px;
    margin-left: -20px;
    color: #5318BD;
}


#checkbox, .btn  { /* Hide the checkbox input & word "Menu" in the button */
    display: none;
}

/* Menu button - starts */
.btn {
    display: block;
    color: #fff;
    margin-top: -55px;
    margin-left: 10%;
    width: 50px;
    height: 45px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    transition: width .3s ease-in-out;
}
/* Menu button - ends */

/* Sidebar - starts */
.sidebar {
    background-color: #ffffff;
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 1111;
    transition: transform .3s ease-in-out;
    transform: translateX(-250px);
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar ul a {
    position: relative;
    text-decoration: none;
    display: block;
    background-color: transparent;
    color: #747375;
    padding: 15px 20px;
    font-size: 16px;
}

.sidebar ul a li i {
    margin-right: 15px;
}

/* Add the word "New" to the second item and "2" to the third item */
.sidebar ul a:nth-child(2)::after, .sidebar ul a:nth-child(3)::after {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
    color: #fff;
    font-size: 13px;
    padding: 0 7px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*.sidebar ul a:nth-child(2)::after {
    content: "New";
    background-color: tomato;
} 

.sidebar ul a:nth-child(3)::after {
    content: "2";
    background-color: #68f2bf;
}*/



.sidebar ul a:hover, .sidebar ul a.active {
    background-color: #eeeeee;
    color: #747375;
}

.sidebar ul a:hover::before, .sidebar ul a.active::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #68f2bf;
    width: 4px;
    height: 100%;
}

.contact ion-icon{
    height: 20px;
    width: 20px;
}
/* Sidebar - ends */

/* Effect of showing the sidebar - starts */
#checkbox:checked ~ .sidebar {
    transform: translateX(0);
}

#checkbox:checked + .btn {
    width: 250px;
    padding: 0 20px;
}

#checkbox:checked + .btn span { /* Show again the word "Menu" in the button */
    display: inline;
    
}
/* Effect of showing the sidebar - ends */

@media (max-width: 767px){
    header img {
        
        width: 100px;
        height: 100px;
        margin-top: -10px;
        margin-left: 70px;
    }

    header button{
    
        font-size: 12px;
        right: 2%;
        height: 30px;
        
        
        }
    header button p{
        color: #ffffff;
        margin-top: 5px;
    }
    ion-icon{
        height: 35px; 
        width: 35px;
        margin-left: -50px;
        margin-top: 7px;
        color: #5318BD;
    }
    
.sidebar ul a li i {
    margin-right: 40px;
}}

